.lighter {
	background-color: #babdc1;
	color: #fff;
}

.light {
	background-color: #8b9199;
	color: #ddd;
}

.default {
	background-color: #6b7480;
	color: #babdc1;
}

.dark {
	background-color: #515c6a;
	color: #8b9199;
}

.darker {
	background-color: #384453;
	color: #6b7480;
}

.text-lighter {

	color: #fff;
}

.text-light {
	color: #ddd;
}

.text-default {
	color: #babdc1;
}

.text-dark {
	color: #8b9199;
}

.text-darker {
	color: #6b7480;
}